<html>
    <head>
        <link rel="icon"href="img/weather.png">
        <link rel="stylesheet"href="/css/style.css">
        <script src="/js/app.js"></script>
        <title>विषये</title>
    </head>
    <body>
        <div class="main-content"> 
            {{>header}}
            <p>Weather WebSide uses data from weatherstack!</p>
            <img class="portrait" src="img/om.jpg">
        </div>
        {{>footer}}
    </body>
</html>