<html>
    <head>
        <link rel="icon"href="img/weather.png">
        <link rel="stylesheet"href="/css/style.css">
        <title>साहाय्यम्‌</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Company_Name : {{Company_name}}</p>
            <p>Location : {{location}}</p>
        </div>
        {{>footer}}
    </body>
</html>