<html>
    <head>
        <link rel="icon" href="img/nodejs.png">
        <title>Node API</title>
    </head>
    <body>
        {{>header}}
        <h2>Welcome To Node JS API Home Page</h2>
        <p>Here We Can Register & Login</p>
        <h3>features of node api</h3>
        <p>After register you recive mail on provided email to the node api</p>
        <p>If You Have Not Verify With Otp you Can't Use Most of The Api features</p>
        {{>footer}}
    </body>
</html>