<link rel="stylesheet"href="/css/style.css">
<footer>
    <table style="width:100%;">
        <tr>
            <th>Backend Created With : Node js</th>
            <th style="margin-left: 100px;">Frontend Created With : hbs</th>
        </tr>
    </table>
    {{!-- {{name}} --}}
</footer>