{{!-- With header we can create navbar --}}
{{!-- <h1>{{title}}</h1> --}}
<link rel="stylesheet"href="css/style.css">
<header>
    <h1>{{title}}</h1>
    <a href="/">वातावरणम्‌</a>
    <a href="/about">विषये</a>
    <a href="/help">साहाय्यम्‌</a>
</header>